#box{
    height: 100px;
    width: 100px;
    background-color: blue;
    color:white;
    border: 1px solid black;
}

.content{
    color: red;

}

/* create new class in css  */
.newClass{
    background-color: yellow;
}
