div{
    height: 100px;
    width: 100px;
    background-color: goldenrod;
    color: white;
    border: 1px solid black;

}

.dark{
    background-color: black;
    color:white;
}
.light{
    background-color: white;
    color:white;
}
